project = "project-id"

zone = "europe-west4-c"

cluster_name = "crawler-cluster"

machine_type = "g1-small"

disk_size_gb = 20

node_count = 2

big_node_count = 2

kubernetes_version = "1.8.10-gke.2"

disable_dashboard = false

disable_networkpolicy = false

enable_legacy_abac = true
